.parentDiv {
    height: 75vh;
    margin: 30px 70px 30px 70px;
}

.noDataText {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.tableClass {
    max-height: 65vh;
    min-height: 65vh;
    position: relative;
}

.tableFixHead {
    overflow: auto;
    height: 62vh;
}

.tableFixHead table {
    border-collapse: inherit;
    width: 100%;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    z-index: 2;
    color: black;
    height: 30px;
}

.tableFixHead td {
    background: #f9f9f9;
}

.tableClass {
    border-radius: 5px;
    overflow: hidden;
}

.centerRightButton {
    display: flex;
    justify-content: right;
    align-content: center;
    position: relative;
}

.orderBadge {
    margin: -12px -12px 0 0;
    z-index: 20;
}